:root {
  --transition-basic: 0.5s ease;

  /* Colors */
  --bg-main: #ffffff;

  --color-primary: #0FFD9F;

  --color-content-100: #111212;
  --color-content-90: #353538;
  --color-content-80: #5f5f62;
  --color-content-40: #a1a2a5;
  --color-content-100-inv: #ffffff;
  --color-content-80-inv: rgba(255, 255, 255, 0.8);

  --color-alpha-12-inv: rgba(255, 255, 255, 0.12);

  --shadow-basic: 0px 1px 1px rgba(52, 58, 63, 0.1), 0px 1px 6px rgba(52, 58, 63, 0.12);

  /* ✍️ Typography */
  --font-family: 'Manrope', sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.75rem;

  /* 📏 Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1.5rem;

  // /* 🟦 Radius */
  --border-radius: 2rem;
}